/* .form-area{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--padding-1);
    overflow: hidden;
    overflow-y: scroll;
    justify-content: end;
    align-items: center;
    
} */
 .main-content{
    scale: 0.99;
    overflow: hidden;
    overflow-y: scroll;
    height: 94vh;
    width: 100%;
    scroll-behavior: smooth;
    padding: 0.6rem;
 }
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.main-content::-webkit-scrollbar,
-scrollbar {
  display: none;
}
.invoice-area{
    width: 96%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    overflow-y: scroll;
    justify-content: endr;
    align-items: center;
    /* border: 2px solid green; */
    box-shadow:0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    margin-top: 2rem;
    margin-left: 2rem;
    position: relative;
}
form{
    width: 100%;
}


 .heading-basic {
    background-color: var(--color-default-gray);
    color: var(--color-light);
    padding: 0.8rem;
    width: 100%;
}
.academic-year{
    padding: 0.6rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}
 form{
    width: 100%;
}
.form-group{
    padding: 0.5rem 0.8rem;
    width: 100%;

}
.form-group select{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    color: var(--color-dark);

}
 label {
    font-size: 1rem;
    margin: 0.6rem;
 }
 form input{
    border: none;
    background-color: rgb(235, 234, 234);
    color: var(--color-dark);
     border-bottom: 1px solid #ccc; /* Add a light bottom border */
}
form input:focus{
     outline: none;
    /* border-width: 0 0 2px; */
    border-bottom: 2px solid var(--color-primary);
}

form input::placeholder{
    color: var(--color-dark);
}
.text-area{
    padding: 0.6rem 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    color: var(--color-dark);
}
.text-area textarea{
     padding: 10px;
     width: 80%;
    font-size: 1rem;
    border-radius: 7px;
    resize: none;
    background-color: rgb(235, 234, 234);


}
.text-area textarea:focus{
     outline: none;
    /* border-width: 0 0 2px; */
    border-bottom: 2px solid var(--primary-color);
}
.appended {
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 98%;
     background-color: var(--color-default-gray-variant);
     /* text-align: center;
     margin: 0 auto; */
     border-radius: 8px;
     position: relative;
     margin-left: 0.62rem;
    margin-bottom: 1rem;

}
.append-area{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.appended .append{
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
    /* border: none; */
    color: var(--color-dark);
    border-radius: 8px;
    width: 33%;
    justify-self: start;
    justify-content: start;
}

.appended .append .name{
    font-size: 1.4rem;
    font-weight: 500;
}
.appended .append .category{
    font-weight: 300;
    font-size: 1rem;
    padding: 0.1rem 0;
    width: 100%;
    border-radius: 4px;
}

.appended  .action{
    /* position: absolute;
    top: -5px;
    right: -5px; */
    width: 20%; 
    /* padding: 0.3rem 0.6rem; */
    /* border-radius: 50%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
}
.appended .action button {
    cursor: pointer;
    color: var(--color-light);
    scale: 0.8;
    transition: transform 0.3s ease, opacity 0.3s ease;
    padding: 0.5rem;
}
.total-fees{
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.82rem;
    color: var(--color-success-dark);
    padding: 1.1rem 1rem;
    margin: 0 auto;
    font-weight: 600;
    background-color: var(--color-success-light);
    border-radius: 8px;
}
.total-fees .total{
    margin-right: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    font-size: 1rem;
    /* text-align: center;
    margin: 0 auto; */
    width: 100px;
}
.total-fees .total span{
    font-weight: 200;
}
.select-fees{
    margin-bottom: 1rem;
}
/* .discounted-total{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.3rem 0.5rem;
    background-color: var(--color-success-light);

}
.discounted-total span{
    font-size: 1.2rem;
    text-align: right;
    color: var(--color-success-dark);
    padding: 1.1rem 0;
    font-weight: 600;
    width: 100%;
} */
.remove-deleted{
    transform: translateY(10rem) rotateZ(25deg);
    opacity: 0;
}
/* Add animation for fading out an item */
.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    /* transform: translateY(20px); */

  }
  100% {
    /* transform: translateY(0); */
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
}
.fade-in {
    animation: fadeIn 0.5s forwards;
    /* position: relative; */
    /* top: -30rem; */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.submit-invoice{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.8rem 1.5rem;
    gap: 1rem;

}
.submit-invoice span{
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--color-light);
    border: 2px solid var(--primary-color);
    padding: 0.5rem 1.7rem;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
    margin-left: -1.3rem;
}
.submit-invoice span:hover{
    color: var(--color-light);
    background-color: var(--primary-color);
    border: none;
    transition: background-color 0.6s ease;
    scale: 0.98;
}
.submit-invoice button{
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--color-light);
    border: none;
    padding: 0.5rem 1.7rem;
    border-radius: 8px;
    font-size: 1.2rem;
    scale: 0.98;
    font-weight: 600;
    transition: background-color 0.3s ease;
}
.submit-invoice button:hover{
    background-color: var(--color-light);
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    transition: background-color 0.6s ease;
    scale: 0.9;
}
/* CSS for spinner */
.spinner {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid var(--primary-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

/* Spin animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Center the spinner */
.spinner-container {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full page height */
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  margin: 0 auto;
  display: none;
  transition: all 0.7s ease;
  z-index:9999;
}

.load{
    display: flex;
}
.add-email{
    margin-top: 2.3rem;
    padding: 0.3rem 0.8rem;
  
    width: 100%;
}
.add-email lable{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.add-email .theme-toggler {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 3.2rem;
    cursor: pointer;
    border-radius: 10px;
 /* border: 1px solid red; */
}

.add-email .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
   
}

.add-email .theme-toggler span.active {
    background-color: var(--primary-color);
    color: var(--color-white);
    border-radius: 10px;

}
.isChecked{
    animation: move_right 0.5s forwards;
}
@keyframes move_right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
.email-area{
    padding: 0.5rem 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.email-area .one{
    width: 100%;
}
.email-area .stored-email{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.email-recipient{
    margin-top: 2rem;

}
.recipients{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.4rem 1rem ;
    position: relative;

}
.recipients .name{
    font-size: 1rem;
    padding: 0 0.9rem;
    font-weight: 600;
}
/* email flex end */
.recipients .email{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 450px;
}

/* Style for the container that holds the checkbox and label */
.checkbox-container {
  display: inline-block;
  padding: 0.5rem;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  color: #333;
}

/* Hide the default checkbox */
.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox appearance */
.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 2px solid #ccc;
  border-radius: 5px; /* Makes the checkbox rounded */
  transition: background-color 0.3s, border-color 0.3s;
}

/* When the checkbox is checked */
.checkbox-container input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

/* Checkmark (hidden by default) */
.custom-checkbox:after {
  content: '';
  position: absolute;
  display: none;
  left: 5px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); /* Creates the checkmark shape */
}

/* Show the checkmark when checked */
.checkbox-container input[type="checkbox"]:checked ~ .custom-checkbox:after {
  display: block;
}

/* Add hover effect */
.checkbox-container:hover input[type="checkbox"] ~ .custom-checkbox {
  border-color: var(--primary-color);
}

/* Add focus effect for accessibility */
.checkbox-container input[type="checkbox"]:focus ~ .custom-checkbox {
  outline: 2px solid var(--primary-color);
}


.invoice-ready{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 1.7rem;
    padding: 10px;
    position: relative;
    height: 69vh;
     overflow: hidden;
    overflow-y: scroll;
    /* display: none; */
}
/* .invoice-ready .invoice-number{
    /* padding:  0 0  20px 0; *
    padding: 0.6rem 0;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
} */
.invoice-ready .to-family{
    display: flex;
    align-items: center;
    font-weight: 400;
    width: 100%;
    padding: 0 1rem;
    justify-content: space-between;
    margin-bottom: 1.2rem; 
    padding: 0.4rem 1.5rem;
    /* border-bottom: 1px solid var(--color-dark); */
}
.invoice-ready .to-family span{
    font-size: 1.2rem;
}
.invoice-ready .first-three{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.invoice-ready .first-three .name, .invoice-ready .first-three .schedule, .invoice-ready .first-three .status{
    font-size: 1.2rem;
    font-weight: 400;
    padding:  0.2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    width: 25%;
}
.invoice-ready .first-three .name span, .invoice-ready .first-three .schedule span, .invoice-ready .first-three .status span{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.invoice-ready .second-three{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;

}

.invoice-ready .second-three .date, .invoice-ready .second-three .number{
    font-size: 1.2rem;
    font-weight: 400;
    padding:  0.2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    width: 25%;
}

.invoice-ready .second-three .date span, .invoice-ready .second-three .number span{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.invoice-ready .note{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    /* border: 1px solid red; */
    justify-content: start;
    justify-self: flex-start;
    box-sizing: border-box;
  
}

.invoice-ready .note span{
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    width: 100%;
    text-align: left; 
    margin-left: -8rem;
    padding: 0;
}
.invoice-ready .note span.notes{

    width: 100%;
    text-align: left;
    margin-left: -8rem;
}

.invoice-ready .fee-table{
    /* display: none; */
    width: 100%;
    padding: 0.1rem 0.7rem;

}

.invoice-ready .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.3rem 2rem;

}

.invoice-ready .total .add-email{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-success-dark);
    margin-right: 1.5rem;
}
.invoice-ready .total .left{
    margin-left: 0.5rem;
}
.invoice-ready .total .far-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-success-dark);
    /* width: 10%; */
}
.invoice-ready .total .far-right .currency{
    font-weight: 400;
}
.invoice-ready .discount-area {
    display: flex;
    /* justify-content: space-between;  */
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0.3rem 0.5rem;
    /* border: 2px solid red; */
}
.invoice-ready .discount-area .discount{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.3rem 2rem;
    font-weight: 500;
    font-size: 1rem;
}

.invoice-ready .discount-area .discounted-total{
    color: var(--color-success-dark);
   display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.3rem 2rem;
    font-weight: 600;
    font-size: 1rem;
}

.invoice-ready .discount-area .discounted-total .right, .invoice-ready .discount-area .discount .right {
    /* color: var(--color-success-dark); */
    font-weight: 400;
}
 .submit-invoice-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-top: 1.5rem; */
    padding: 0.4rem 1.5rem;
}

 .submit-invoice-btns .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.submit-invoice-btns .container button{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 0.5rem 1.8rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 8px;
    /* display: none; */
}