/* Modal background  6R23D06DG68 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: all 0.4s ease;
  margin: 0 auto;
  overflow: hidden;
  overflow-y: scroll;
}

/* Modal content */
.modal-main {
  top: 7rem;
  background-color: var(--color-light);
  opacity: 1;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  transition: all 0.4s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

}
.modal-main .message{
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid red; */
    padding: 0.3rem;
    margin-bottom: 2rem;
    display: none;
    position: relative;
}
.modal-main .message .success{
    display: none;
  
    position: absolute;
    top: 3px;
    right: 1px;
    padding: 0.3rem;
}

.modal-main .message .danger{
    display: none;
    position: absolute;
    top: 3px;
    padding: 0.3rem;
    right: 1px;
}
.modal-main .close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.modal-main form{
    width: 79%;
    padding: var(--padding-1);
  background-color: var(--color-light);
    color: white;
}
.modal-main form input{
  background-color: var(--color-light);
  color: var(--color-dark);
  border: 2px solid rgba(16, 15, 15, 0.89);
}

.modal-main form select{
  background-color: var(--color-light);
  width: 100%;
        color: var(--color-dark);
        visibility: hidden;
}
.modal-main .submit{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 0.2rem 0.5rem;
    /* border: 1px solid #45a049; */
    gap: 0.5rem;
  transition: all 600ms ease;

}
.modal-main .submit .submit-btn{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 400ms ease;
}
.modal-main .submit .closed-btn{
  background-color: var(--color-light);
    border: 2px solid var(--primary-color);
    color:var(--primary-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 400ms ease;
}
.modal-main .submit button:hover{
    scale:1.2;
}

/* Hidden modal class */
.display-none {
  display: none;
}

/* Visible modal class */
.display-block {
  display: block;
}

/* Button styling */


/* .close-btn:hover {
  background-color: #d32f2f;
} */

.open-modal-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.open-modal-btn:hover {
  background-color: #45a049;
}

.modal-main-invoice {
  top: 1rem;
  background-color: var(--color-light);
  opacity: 1;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  transition: all 0.4s ease;
  padding: 0.4rem 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 62%;
  position: relative;
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;

}

.modal-main-invoice img{
  max-width: 3.5rem;
  max-height: 3.5rem;
  position: absolute;
  top: 20px;
  left: 50px;
}
.modal-main-invoice .close-btn{
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1rem;
  font-weight: bold;
  color:var(--color-dark);
  cursor: pointer;
}