.base-wrapper{
   display: grid;
    grid-template-columns: 14rem auto 10rem;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    background-color: var(--background-color);
    margin: 0 auto;
}